
h1 { 
    line-height : 3rem;
}
.text-body{
    margin-top: 0px;
    margin-bottom: 0px;
    line-height :2rem;
}

.text-box{
    margin-top: 10px;
    margin-bottom: 60px;
}

.button-group{
    margin-top: 50px;
}


.container {
    display: flex;
}

.explain{
    margin-top:0;
}

.quotes {

    font-style: italic;
}

table {
    border-collapse:separate;
    border-spacing: 10px 15px;
 
}
td{
    height: 30px;
}
tr{
    height: 30px;
}

.bigButton{
    height: 30px;
    width: 20px;
    border:1px;
}

.helptext{
    padding-bottom:15px;
}
image {
    flex: 1;
}